extends template

block variables
    -var title = 'История арки'
block galery 
   .image-arc
        img(src='http://www.фотостарина.рф/file/blagoveschensk/10720R_Blagoveschensk._Triumfalnaya_arka..jpg') 
block content 