-var images = ['https://key-ms.ru/wp-content/uploads/a/f/c/afc8b6dd9c01b49d54d66105ac18837f.jpeg','https://i6.photo.2gis.com/images/geo/52/7318349414373636_6129.jpg','https://pp.userapi.com/c623125/v623125210/1be74/3sQt5UV30Rw.jpg']
.galery
    each imageUrl in images
        .galery-item
            img(src=imageUrl)